.jumbotron {
    color: #f7cf38;
    background-color: #00aafa;
    
}

.panel-heading-custom {
    background-color: #00aafa; 
}

.panel-custom {
    background-color: #00aafa; 
}

.panel-title {
    color: #f7cf38;
    background-color: #00aafa; 
}

.panel-body-custom {
    background-image: url('../images/polarExpress.jpg');
    color: #f8e7cd;
}

.btn-primary {
    color: #f7cf38;
    background-color: #00aafa;
    border-color: #f7cf38;
    font-weight: bold;
}